.table {
    width: 100%;
    background-color: #FFFFFF;
}

.table td NavLink {
    padding: 6px 8px;
    font-size: 14px;
}

.atend_btn {
    float: right;
    margin-top: -2em;
    padding: 7px 13px;
    border-radius: 8px;
    font-size: 15px;
}