td NavLink {
    padding: 0px 5px;
    font-size: 14px;
}

.box_visa_form {
    min-height: 320px;
    padding: 3%;
}

.submit_div {
    padding: 2px;
}

.submit_div button {
    margin-top: 20px;
}
.report{margin-top: 22px;}
.view{margin-top: 22px;}
#listofstudents{width: 100%;}